.o_cp_sidebar li .o_sidebar_preview_attachment {
    position: absolute;
    top: 5px;
    right: 26px;
    background-color: #FFF;
}

.o_cp_sidebar .open .dropdown-menu > li > a {
    padding-right: 46px;
}

.o_form_uri .fa-search {
    padding-left: 5px;
    padding-right: 5px;
}
