.openerp .oe_sidebar .oe_dropdown_menu .oe_sidebar_add_attachment .oe_hidden_input_file,
.oe_sidebar_add_attachment .oe_form_binary_form
{
    width: 100%;
}
.oe_sidebar_add_attachment .oe_form_binary_form select
{
    display: block;
    min-width: 100%;
}
.openerp .oe_sidebar_add_attachment .oe_hidden_input_file input.oe_form_binary_file
{
    top: 2em;
}
.openerp .oe_sidebar .oe_dropdown_menu .oe_sidebar_add_attachment
{
    height: 3.5em;
}
li.oe_attachment_directory
{
        font-weight: bold;
}
.openerp .oe_dropdown_menu > li.oe_attachment_directory:hover
{
    background-color: inherit;
    background-image: inherit;
    box-shadow: none;
}
.openerp .oe_dropdown_menu > li.oe_attachment_directory a:hover
{
    cursor: default !important;
}

.openerp .oe_hidden_input_file input.o_form_input_file {
    z-index: 0;
    line-height: 0;
    font-size: 12px;
    position: initial;
    top: 1px;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
}

.openerp input, .openerp textarea, .openerp select {
    padding: 2px 4px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: white;
    width: 100%;
}


.fa-trash-o {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: -5px;
    color: brown;
}